body
{
	font-family: Tahoma;
}

.table
{
	display: table;

	border-collapse: collapse;

	font-size: 1.5em;
}
.table-row
{
	display: table-row;
}
.table-row-header
{
	background: #ffffcc;

	font-weight: bold;

	text-align: center;
}
.table-cell
{
	display: table-cell;

	border: 1px solid black;

	padding: 4px;
}